@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 7.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding-top: 6rem;
}
